{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <meta name="author" content="DaSol Kim" />
        <title>SOL</title>
        <link rel="stylesheet" href="/static/css/styles.css" />
    </head>

    <body>
        <section class="center">
            <div class="js-clock clock">
                <h1 class="clock__text">00:00</h1>
            </div>

            <div class="js-name name"></div>

            <div>
                <form class="js-toDoForm">
                    <input type="text" placeholder="Write a to do here" />
                </form>

                <ul class="js-toDoList"></ul>
            </div>
            <h4 class="js-greetings greetings"></h4>
        </section>

        <div class="js-location location">
            <span class="location__text"></span>
        </div>
        <div class="js-weather weather">
            <span class="js-weather"></span>
        </div>

        <script src="/static/js/todo.js"></script>
        <script src="/static/js/clock.js"></script>
        <script src="/static/js/greeting.js"></script>
        <script src="/static/js/bg2.js"></script>
        <script src="/static/js/weather.js"></script>
    </body>
</html>
